<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                    About.
                </h1>
                <p class="fs-4 mb-4">
                    <b>Mission: </b> Unsere Mission ist es, die Welt mit digitalen Notizzetteln zu überfluten und das Vergessen für immer auszurotten. <br>
                    <b>Vision: </b> Wir sehen eine Welt, in der niemand mehr seine Einkaufsliste vergisst oder den Geburtstag seiner Grossmutter verpasst, dank unserer revolutionären Notiz-App. <br>
                    <b>Team: </b> Unser Team besteht aus Notiz-Gurus, Erinnerungs-Wissenschaftlern und Post-it-Designern, die mit ihrer Leidenschaft für Notizen die Grenzen des Denkbaren überschreiten.
                </p>                                             
                <a href="/auth/google" class="btn btn-primary btn-lg">Try Notes, it's Free!</a>
            </div>
        </div>
    </main>
</div>